<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <button class="open-button" onclick="openForm()">Chat</button>
    <div class="chat-popup" id="myForm">
        <form class="form-container">
            <h1> Chat with Aditya</h1>
            <div class="" name="Myself">
                Hi my name is aditya and a Data Scientist and Machine learning engineer who still in the phase of learning. Please help me to train my this bot with different Political, Sports, Science or Arts etc question to make my bot immortal and intelligent enough
                to help me in my UPSC exam.
                <p>&#128540;</p>
            </div>
            <label for="msg"> <b>Message</b></label>
            <!-- <textarea name="msg" placeholder="Please type Here to train me" required></textarea> -->

            <div class="container" name="received-msg">
                <!-- <input type="text" name="msg" id=""> -->
                <p class="" id="ques"> rec </p>
                <span class="time-right"> 11:03</span>
            </div>

            <div class="container darker" name="bot-rply">
                <p id="ans"> </p>
                <span class="time-right"> 11:03</span>
            </div>

            <div>
                <input type="text" name="chatbox" id="chatbox" placeholder="Start Conversation">
            </div>


            <br>
            <br>
            <button type="submit" class="btn" id="Submit " onclick="p()">Send</button>
            <!-- <button type="button" class="btn cancel" onclick="closeForm()"> Close</button> -->-->
        </form>

    </div>

    <script src="../static/js/pop_up.js">
    </script>

</body>

</html>